<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		// build:css css/main.min.css
		// bower:css
		link(rel='stylesheet', href='js/all4site-fontawesome/dist/css/fontawesome-all.css')
		link(rel='stylesheet', href='js/materialize/dist/css/materialize.css')
		link(rel='stylesheet', href='js/animate.css/animate.css')
		link(rel='stylesheet', href='js/all4site-ulkit/dist/css/uikit.css')
		// endbower
		link(rel="stylesheet", href="css/main.min.css")
		// endbuild
		link(rel="icon", href="img/favicon.png")
		title Document
	body
		section.top
			img(src="img/SB_Akademy_Авраам_Ru_x264-0-01-20-480.jpg", alt="")
		section.content#content
			.robik.test
				.img
					.wrap
						.blure
				.text.grid
					h1 СКОРО
					h2 АКАДЕМИЯ СУПЕРКНИГИ II
					span 40 уроков, разработанных по второму сезону мультфильма “Суперкниги”
			.content-top
				p
					span “Академия Суперкниги”, первый год обучения
					| - это 40 увлекательных уроков для вашей воскресной школы. На каждом уроке дети в доступной и увлекательной форме познакомятся с героями Библии, посмотрят одну из серий мультфильма “Суперкнига”, убедятся в достоверности библейских событий, поучаствуют в творческих играх и узнают разницу между знанием о Боге и знанием Бога.
					br
					span Программа доступна на двух языках: русском и украинском.
			.content-accordeon
				h2 МЕТОДИЧЕСКАЯ РАЗРАБОТКА И ЭКСКЛЮЗИВНЫЙ ВИДЕОКОНТЕНТ К КАЖДОМУ УРОКУ
				ul.collapsible
					li
						.collapsible-header.active
							span Содержание курса
						.collapsible-body.grid
							i.fa.fa-mouse-pointer
							p 13 библейских историй (модулей) на основе 13 серий 1 сезона мультфильма «Суперкнига»;
							i.fa.fa-mouse-pointer
							p Методические разработки 3-х тематических уроков по каждой библейской истории (39 уроков).
							i.fa.fa-mouse-pointer
							p 40-й праздничный урок, посвященный окончанию учебного года.
					li
						.collapsible-header
							span В каждом модуле
						.collapsible-body.grid
							i.fa.fa-reply
							p Дети увидят серию «Суперкниги», библейскую справку (историко-географический обзор) и пророческое видео об Иисусе;
							i.fa.fa-reply
							p Прославят Бога песнями с движениями, представленными в видеоклипах, поиграют в тематические игры и выполнят творческие задания;
							i.fa.fa-reply
							p Научатся применять библейские истины в практической жизни.
					li
						.collapsible-header
							span Эксклюзивный видеоконтент для каждого модуля
						.collapsible-body.grid
							h2 Мультфильм «Суперкнига»
							i.fa.fa-tag
							p Каждый модуль содержит уникальную серию анимационного сериала «Суперкнига», переведенного на 54 языка и получившего международное признание.
							h2 Библейская справка
							i.fa.fa-tag
							p Видеопутешествие по археологическим раскопкам, доказывающим истинность Писания, и библейским местам, которые сохранились до наших дней.
							h2 Видео «Указатели»
							i.fa.fa-tag
							p Убедительный рассказ о том, как пророчества Ветхого Завета исполнились в Иисусе Христе.
							h2 Музыкальное сопровождение
							i.fa.fa-tag
							p Оригинальные видеоклипы и современные аранжировки давно знакомых песен хвалы сделают незабываемым прославление Бога. Танцуйте и пойте вместе с детьми!
					li
						.collapsible-header
							span Характеристики программы «АКАДЕМИЯ СУПЕРКНИГИ»
						.collapsible-body.grid
							i.fa.fa-spinner.fa-spin
							p Современными методами знакомит детей с Божьим планом спасения.
							i.fa.fa-spinner.fa-spin
							p В каждом уроке есть задания для большой (1-6 классы) и малых (1-3, 4-6 классы) групп.
							i.fa.fa-spinner.fa-spin
							p Вы легко адаптируете материал урока для тех временных рамок, которыми располагает группа.
			.content-subscribe
				p Мы предоставляем всем зарегистрированным пользователям уникальную возможность получить первый модуль (три урока) пособия “Академия Суперкниги” бесплатно.
				h1 ПОДПИСКА





	// build:js js/main.min.js
	// bower:js
	script(src='js/jquery/dist/jquery.js')
	script(src='js/materialize/dist/js/materialize.js')
	script(src='js/all4site-ulkit/dist/js/uikit.js')
	script(src='js/all4site-ulkit/dist/js/uikit-icons.js')
	// endbower
	script(src="js/main.js")
	// endbuild
